

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*__HEADER__*/

header {
  background-image:url(/IMG/IMG\ PAGE\ ACCUEIL/1.png);
  background-size:100%;
  height:735px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00000095;
  position: fixed;
  width: 100%;
  z-index: 100;
}


.navbar img {
  height: 100px;
  width: 100px;

}


.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 707px;
}


.navbar li {
  margin: 0 30px;
}




/*------arriere plan -----------------*/

.titre_header{
  font-family: "inter";
  font-style: italic;
  font-size: 70px;
  color: white;
  font-weight: 100;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.514);
  width: 453px;
  margin-left: auto;
  margin-right: auto;
}


.div_titre_header{
  padding-top: 375px;
}



/* LES BUTTONS navbar header*/

button {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;

}


button::before {
  margin-left: auto;
}


button::after,
button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  transition: 0.5s;
}


button:hover::after,
button:hover::before {
  width: 100%;
}


/*MENU HAMBURGER*/


.navbar .burger-menu-button {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


.burger-menu {
  display: none;
  height: 0;
  position: absolute;
  right:0;
  top: 70px;
  width: 200px; 
  background: rgba(255, 255, 255, 0.067);
  backdrop-filter: blur(20px);
  overflow: hidden;
  transition: height 0.2S cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.burger-menu.open {
  height: 300px;
  width: 100vw;
  left: 0;

}


.burger-menu li {
  padding: 1rem; 
  display: flex;
  justify-content: center;
}


.burger-menu a {
  color: #ffffffe8;
  font-size: 25px;
  text-decoration: none;
}


.burger-menu a:hover {
  color: rgb(0, 0, 0);
}







/* page bienvenue */
.titre_page_acceuil{
font-size: 103.33px;
display: flex;
margin:0px;
margin-left: 40px;
margin-top: 50px;
}


#titre_page_acceuil{
font-size: 103.33px;
margin:0;
margin-left:40px;
line-height: 65px;
}


.texte_bienvenue{
  width: 528px;
  font-size: 25px; 
  margin-left: 866px;
  margin-bottom: 0px;
  margin-top: 38px;
  line-height: 39px;
}



/* page notre histoire */

.image_notre_histoire{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.manége{
  height: 467px;
  width: 560px;
}


.img_artifice{
  height: 467px;
  width: 560px;
  margin-right: 21px;
}


.image_notre_histoire{
margin-top: 180px;
}


.texte_notre_histoire{
  font-size: 50px;
  width: 816px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
}


.boutton_notrehistoire{
  font-size: 20px;
  width: 166px;
  padding:5px;
  margin-left:640px;
  text-align: center;
  text-decoration: none;
  border: none;
  background: none;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color:black;
}


.boutton_notrehistoire::after,
.boutton_notrehistoire::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #000000;
  display: block;
  transition: 0.5s;
}


.image_plage{
  width: 97%;
  margin-left: 2%;
  margin-top: 95px;
}








/* page lieu mariage */

.div_lieu_mariage{
  background-color:#EBEBE0;
  margin-top: 174px;
  display: flex;
  flex-wrap: wrap;
  height: 900px;
}


ul a{
  text-decoration: none;
  color: black;
}


/* photo*/
.bisous_coeur{
  width: 44%;
  height: 900px;
}


/* information des lieux de mariage */ 

.titre_lieu_mariage{
  font-size: 45px;
  text-align: center;
  margin-top: 41px;
  margin-left: 61px;
}


.texte_lieu_mariage{
  width: 595px;
  font-size: 21px;
  margin-top: 148px;
  margin-left: 105px;
  text-align: center;
  line-height: 25px;
}


.full_texte{
  height: 900px;
}


.lieu{
  font-size: 23px;
}


.liste_lieu{
  margin-left: 41px;
  margin-top: 97px;
}


ul hr{
  margin-right: 32px;
  margin-bottom: 80px;
}








/* page palais des lumieres */

.img_palais_lumieres{
  width: 665px;
  height: 700px;
  padding-right: 20px;
}


.div_palais{
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom:90px;
  flex-direction: row-reverse;
}


.titre_palais{
  font-size: 45px;
  width: 734px;
  text-align: center;
  margin-right: 47px;
}


.info_palais{
  margin-left: 53px;
  margin-bottom: 0;
  margin-top: 0px;
}


.info_lieu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: -27px;
  margin-top: 56px;
}


.description{
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}


.description::after,
.description::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #000000;
  display: block;
  transition: 0.5s;
}


.explication_palais{
  font-size: 21px;
  line-height: 37px;
  margin-top: 150px;
  width: 510px;
  margin-left: 111px;
  text-align: center;
}







/*page nourriture + location voiture*/

/* nourriture*/
.div_nourriture{
  background-color: #F4F4F4;
  padding-top:90px;
  padding-bottom:1px;
}


.titre_nourriture{
  font-size: 50px;
  width: 770px;
}


.texte_nourriture{
  font-size: 50px;
  width: 765px;
}


.description_nourriture{
  font-size: 21px;
  width: 761px;
  margin-bottom: 0px;
  line-height:37px;
}


.full_text_nourriture{
  margin-left: 75px;
}


.img_nourriture{
  height: 460px;
  box-shadow: 4px 4px 5px rgb(71, 71, 71);
}



/*  carousel img */

.gallery{
  width:1150px;
  height: 535px;
  display: flex;
  overflow-x: scroll;
}


.gallery div{
  width:98%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding:10px;
  padding-left: 20px;
  padding-top: 40px;
  flex: none;
}


.gallery div img{
  width: 92%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}


.gallery::-webkit-scrollbar{
  display:none
}


#fleche_back {
  width: 55px;
  margin-top: 17%;
  margin-right: 38px;
  cursor: pointer;
}


#fleche_next{
  width: 50px;
  margin-top: 17%;
  margin-left:50px;
  cursor: pointer;
}


.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F4F4F4;
  align-items: flex-start;
}


.gallery div img:hover{
  filter:grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}


#imgVII {
  width: 300px;
}


#imgVIII {
  width: 400px;
}


/* image sans carouselle pour le responsive */
.img_nourriture_respansive{
display: none;
}









/* location de voiture */

.div_location_voiture{
  background-color: #F4F4F4;
}


.titre_location_voiture{
  font-size: 50px;
  margin-top: 0px;
  padding-top: 200px;
}


.description_location_voiture{
  font-size: 21px;
  width: 800px;
  line-height: 37px;
}


.img_voiture{
  width:100%;
  box-shadow: 4px 4px 5px rgb(71, 71, 71);
}


.div_texte_location_voiture{
  margin-left: 75px;
}


.img_voiture_responsive{
  display: none;
}


/* carousel img */

.slider-container{
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider-images{
  display: flex; 
  align-items: center;
  gap: 21px;
}


.slider-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}


.slider-images{
  border-radius: 6px;
  cursor: pointer;
 position: relative;
  transition:0.7s ease;
}


.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
  height: 400px;
}


.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
  height: 480px;
}


.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(5){
  height: 585px;
}


.slider-images .slider-img:nth-child(4){
  height:650px;
}


#modif_img_lambo{
  width: 80px;
}


.slider-img{
  width: 84px;
}


.titre_voiture{
  font-family: "jost", sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align:center;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -60%;
  left: -84px;
  transform: rotate(90deg);
  transition: 0.7s ease;
  width: 245px;
}


.slider-img:nth-child(6){
  width: 80px;
}


.slider-img.active {
   width: 800px !important;
  height: 650px !important;
}


.slider-img.active h3{
  display: none;
}


.slider-img.active{
  display: block;
}
 




/* image du plan du site */

.image_plan{
  width: 100%;
}




/*__FOOTER___*/

footer {
    padding: 2em;
    background-color: #111820 ;
    color: #ffffff;
}


.contact {
 text-align: center;
}


.contact p {
    font-size: 20px;
}


footer img {
    width: 250px;
    height: 250px;
}











/*  Responsive design */
@media screen and (max-width:730px){



  /* header */


  /* nav barr */


  .logo img{
    width: 160px;
  }
    

  .navbutt{
    display: none;
  }


  .navbar{
    padding: 0px 2px;
    height: 70px;
  }



/* arriere plan */
  
  header{
    height: 406px;
    background-size: cover;
  }




  /* titre header*/

  .titre_header{
    font-size: 25px;
    width: 165px;
  }
  .div_titre_header {
    padding-top: 220px;
  }





    /*MENU HAMBURGER*/

    .navbar .burger-menu-button {
        display: block;
        color: rgb(255, 255, 255);
        padding-left: 350px;
        position: fixed;


    }

    .burger-menu {
        display: block;
    }



  /* page acceuil */

  .titre_page_acceuil{
    font-size: revert-layer;
    margin-top: 35px;
  }


  #titre_page_acceuil{
    font-size: revert-layer;
  }


  .texte_bienvenue{
    font-size: revert-layer;
    margin-left: 200px;
    width: 203px;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 15px;
    line-height: 15px;
  }







  /* page notre histoire */

  .image_notre_histoire{
    margin-top: 40px;
  }


  .img_artifice {
    height: 264px;
    width: 374px;
    margin-right: 0px;
  }


  .manége{
    height: 340px;
    width: 375px;
    margin-right: 0px;
    margin-top: 20px;
  }


  .texte_notre_histoire{
    font-size: revert-layer;
    width: 308px;
  }


  .boutton_notrehistoire{
    font-size: small;
    font-weight: 500;
    width: 112px;
    margin-top: -5px;
    margin-left: 157px;
  }


  /* page plage */

  .image_plage{
    margin-top: 30px;
    width: 100%;
    margin-left: 0%;
  }







  /* page lieux de mariage */

  .div_lieu_mariage{
    margin-top: 50px;
  }


  /* image */

  .bisous_coeur{
    width: 206px;
    height: 393px;
  }


  .titre_lieu_mariage{
     width: 175px;
    font-size:larger;
    margin-top: 18px;
    margin-left: 11px;
  } 


  .texte_lieu_mariage{
     width: 176px;
    font-size: x-small;
    margin-top: 26px;
    margin-left: 9px;
    line-height: 18px;
  }

  
.lieu {
  font-size: 11px;
  width: 150px;
}


ul hr{
  margin-right: 32px;
  margin-bottom: 21px;
  margin-top: 0px;
}


.liste_lieu{
  margin-left: 0px;
  margin-top: 30px;
}


.full_texte{
  width: 190px;
  height: 393px;
}


.div_lieu_mariage{
  height: 394px;
}







/* page palais */

.div_palais{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  height: 255px;
}

.img_palais_lumieres {
  width: 218px;
  height:345px;
  padding-right: 0px;
}


.titre_palais {
  font-size: larger;
  width: 180px;
  margin-right: 0px;
}


  .info_lieu{
    width: 182px;
    margin-left:0px;
    margin-top: 20px;
}


.description{
  font-size: 10px;
  border:none;
  border-radius: 25px;
  padding: 4px;
  margin-top: 0px;
  
}
  

.explication_palais{
  font-size: x-small;
  line-height: 16px;
  width: 156px;
  margin-top: 40px;
  margin-left: 12px;
}


.ful_texte{
  width:180px;
}





/* page nourriture */

.div_nourriture {
 margin-top: 140px;
 padding-top: 20px;
}


.titre_nourriture{
  font-size: larger;
  width: 306px;
}


.full_text_nourriture{
  margin-left: 12px;
}


.description_nourriture {
  font-size: small;
  line-height: 23px;
  width: 395px;
}


.gallery-wrap{
  display: none;
}


.img_nourriture_respansive{
  background-color: #F4F4F4;
}


.img_nourriture_respansive{
  display: flex;
  flex-wrap: wrap;
}


.img1{
width: 49%;
padding-left: 12px;
}


.img2{
  width: 44%;
  height: 238px;
  
}


.img3{
  width: 49%;
  height: 323px;
  padding-right: -6px;
margin-left: 12px;
}


.img4{
  width: 44%;
  height: 323px;
  padding-left: 0px;
}


.img5{
  width: 49%;
  height: 328px;
  margin-left: 12px;
}


.img6{
  width: 44%;
  height: 328px;
  margin-left: 0px;
}









/* location de voiture */

.slider-container{
  display: none;
}


.div_location_voiture{
  background-color: #F4F4F4;
}


.div1_voiture{
  padding-top: 28px;
}


.div_texte_location_voiture{
  margin-left: 12px;
}


.titre_location_voiture{
  font-size: larger;
  padding-top: 90px;
}


.description_location_voiture {
  font-size: small;
  width: 338px;
  line-height: 21px;
  margin-bottom: 0px;
}


.img_voiture_responsive{
  display: flex;
  flex-wrap: wrap;
  background-color:#F4F4F4 ;
}


.iimg1{
  width: 47%;
}


.iimg2{
  width: 51%;
  margin-bottom: 6px;
}


.iimg3{
  width: 52%;
}


.iimg4{
  width: 46%;
}


.div3_voiture{
  display: flex;
  flex-direction: row-reverse;
}


.iimg5{
  width: 52%;
  padding-left: 4px;
}


.iimg6{
  width: 48%;
  padding-bottom: -1px;
 
}


.div4_voiture{
  display: flex;
  flex-wrap: wrap;
}


.div4_voiture p{
  width: 153px;
font-size: 14px;
text-align: center;
margin-left: 17px;

}


.iimg7{
  width: 55%;
  padding-top: 6px;
  margin-bottom: 11px;
}






/* footer */

footer img {
  width: 100px;
  height: 100px;
}


.contact p {
  font-size: 10px;
}


.contact button{
  font-size: 13px;
}

.fa-instagram:before{
  font-size: 17px;
}


.fa-square-facebook:before{
  font-size: 17px;
}


.fa-x-twitter:before{
  font-size: 17px;
}

}